---
layout: documentation
title: Documentation
slogan: Start working with BuWiFi
background: /images/company/network-management-systems.jpg
---

{% include docnav.html %}

<div class="main shadow bg-white">


    {% include doctitle.html %}
    {% include docintro.html %}

    {% include doc_metrics.html %}
    {% include doc_dashboard.html %}
    {% include doc_configuration.html %}
    {% include structure.html %}
    {% include docmenu.html %}
    {% include scsslive.html %}
    {% include loader.html %}
    {% include credit.html %}
    {% include support.html %}
    {% include changelog.html %}
    {% include changes.html %}

    {% include thankyou.html %}
    {% include footerdoc.html %}
    {% include scriptsdoc.html %}


    {% comment %}
    
    {% endcomment %}


</div>