---
layout: default
title: OUR PRIVACY POLICY
slogan: > 
        Thank you for your interest in BuWiFi. 
        We welcome you to our Website at buwifi.com, as well as all related web sites, downloadable software, mobile applications (including tablet applications), and products and services provided by us.
background: /images/company/network-management-systems.jpg
---
{% include servicesheader.html %}
{% include privacy2.html %}
{% include documents.html %}
{% include transition.html %}
{% include blockquote.html %}
{% include documents2.html %}
{% include ctasimple.html %}




