    <!-- Schedule Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Event Schedules</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Start working with <span
                                class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                            generate awareness, drive traffic, connect.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row mt-4 pt-2 justify-content-center">
                <div class="col-lg-8 col-md-12 text-center">
                    <ul class="nav nav-pills rounded nav-justified flex-column flex-sm-row" id="pills-tab"
                        role="tablist">
                        <li class="nav-item">
                            <a class="nav-link rounded active" id="pills-dayone-tab" data-bs-toggle="pill"
                                href="#pills-dayone" role="tab" aria-controls="pills-dayone" aria-selected="false">
                                <div class="text-center py-2">
                                    <h6 class="mb-0">Before Visit</h6>
                                </div>
                            </a>
                            <!--end nav link-->
                        </li>
                        <!--end nav item-->

                        <li class="nav-item">
                            <a class="nav-link rounded" id="pills-daytwo-tab" data-bs-toggle="pill" href="#pills-daytwo"
                                role="tab" aria-controls="pills-daytwo" aria-selected="false">
                                <div class="text-center py-2">
                                    <h6 class="mb-0">During Visit</h6>
                                </div>
                            </a>
                            <!--end nav link-->
                        </li>
                        <!--end nav item-->

                        <li class="nav-item">
                            <a class="nav-link rounded" id="pills-daythree-tab" data-bs-toggle="pill"
                                href="#pills-daythree" role="tab" aria-controls="pills-daythree" aria-selected="false">
                                <div class="text-center py-2">
                                    <h6 class="mb-0">After Visit</h6>
                                </div>
                            </a>
                            <!--end nav link-->
                        </li>
                        <!--end nav item-->
                    </ul>
                    <!--end nav pills-->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-dayone" role="tabpanel"
                            aria-labelledby="pills-dayone-tab">
                            <div class="row">
                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">11</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Digital
                                                            Conference Event Intro</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 3, Sinchang-dong,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 10:30AM to 11:15AM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">11</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Conference
                                                            On User Interface</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 3, Sinchang-dong,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 11:15AM to 12:30PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">11</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Business
                                                            World Event Intro</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 3, Sinchang-dong,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 12:30PM to 01:00PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">11</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Business
                                                            Conference for professional</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 3, Sinchang-dong,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 01:00PM to 02:15PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end teb pane-->

                        <div class="tab-pane fade" id="pills-daytwo" role="tabpanel" aria-labelledby="pills-daytwo-tab">
                            <div class="row">
                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">12</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Digital
                                                            Conference Event Intro</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 1, Seo-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 10:30AM to 11:15AM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">12</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Conference
                                                            On User Interface</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 1, Seo-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 11:15AM to 12:30PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">12</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Business
                                                            World Event Intro</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 1, Seo-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 12:30PM to 01:00PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">12</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Business
                                                            Conference for professional</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 1, Seo-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 01:00PM to 02:15PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end teb pane-->

                        <div class="tab-pane fade" id="pills-daythree" role="tabpanel"
                            aria-labelledby="pills-daythree-tab">
                            <div class="row">
                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">13</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Digital
                                                            Conference Event Intro</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 4, Gwangsan-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 10:30AM to 11:15AM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">13</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Conference
                                                            On User Interface</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 4, Gwangsan-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 11:15AM to 12:30PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">13</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Business
                                                            World Event Intro</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 4, Gwangsan-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 12:30PM to 01:00PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-6 mt-4 pt-2">
                                    <div class="card event-schedule rounded border">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <ul class="date text-center text-primary me-3 mb-0 list-unstyled">
                                                    <li class="day fw-bold mb-2">13</li>
                                                    <li class="month fw-bold">OCT</li>
                                                </ul>
                                                <div class="flex-1 content">
                                                    <h4><a href="javascript:void(0)" class="text-dark title">Business
                                                            Conference for professional</a></h4>
                                                    <p class="text-muted location-time"><span
                                                            class="text-dark h6">Address:</span> Hall 4, Gwangsan-gu,
                                                        Kwangju, <span class="text-danger">South Korea</span> <br> <span
                                                            class="text-dark h6">Time:</span> 01:00PM to 02:15PM</p>
                                                    <a href="#tickets" class="btn btn-sm btn-outline-primary">Buy
                                                        Ticket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end teb pane-->
                    </div>
                    <!--end tab content-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Schedule End -->