<!-- Start Features -->
<section class="bg-light">
    <div class="container-fluid px-0">
        <div class="row g-0 align-items-center">
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="card features feature-primary feature-full-bg text-center rounded-0 px-4 py-5 bg-light bg-gradient position-relative overflow-hidden border-0">
                    <span class="h2 icon-color">
                        <i class="uil uil-crosshair"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Strategy</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="card features feature-primary feature-full-bg text-center rounded-0 px-4 py-5 bg-light bg-gradient position-relative overflow-hidden border-0">
                    <span class="h2 icon-color">
                        <i class="uil uil-search"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Research</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="card features feature-primary feature-full-bg text-center rounded-0 px-4 py-5 bg-light bg-gradient position-relative overflow-hidden border-0">
                    <span class="h2 icon-color">
                        <i class="uil uil-lightbulb-alt"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Planning</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="card features feature-primary feature-full-bg text-center rounded-0 px-4 py-5 bg-light bg-gradient position-relative overflow-hidden border-0">
                    <span class="h2 icon-color">
                        <i class="uil uil-usd-circle"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Assurance</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="card features feature-primary feature-full-bg text-center rounded-0 px-4 py-5 bg-light bg-gradient position-relative overflow-hidden border-0">
                    <span class="h2 icon-color">
                        <i class="uil uil-analytics"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Analysis</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="card features feature-primary feature-full-bg text-center rounded-0 px-4 py-5 bg-light bg-gradient position-relative overflow-hidden border-0">
                    <span class="h2 icon-color">
                        <i class="uil uil-invoice"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>Investment</h5>
                        <p class="para text-muted mb-0">It is a long established fact that a reader will be will be of at its layout.</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Features -->