<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title mb-4"><span class="text-primary">Before, During, After</span> visit campaign ideas</h4>
                <p class="text-muted para-desc mb-0 mx-auto">Start working with <span
                        class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate
                    awareness, drive traffic, connect.</p>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-5 mt-4 pt-2">
            <ul class="nav nav-pills bg-white nav-justified flex-column mb-0" id="pills-tab" role="tablist">
                <li class="nav-item bg-light rounded-md">
                    <a class="nav-link rounded-md active" id="dashboard" data-bs-toggle="pill" href="#dash-board"
                        role="tab" aria-controls="dash-board" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">Before Visit</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing
                                industry or by web designers.</p>
                        </div>
                    </a>
                </li>

                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="timeline" data-bs-toggle="pill" href="#time-line" role="tab"
                        aria-controls="time-line" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">During Visit</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing
                                industry or by web designers.</p>
                        </div>
                    </a>
                </li>

                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="paymentmanagement" data-bs-toggle="pill"
                        href="#payment-management" role="tab" aria-controls="payment-management" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">After Visit</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing
                                industry or by web designers.</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

        <div class="col-md-5 col-12 mt-4 pt-2">
            <div class="tab-content ms-lg-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="dash-board" role="tabpanel" aria-labelledby="dashboard">
                    <div class="col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title">
                            <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> High Performing Landing App</h4>
                            <p class="text-muted">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Digital Marketing Solutions for Tomorrow</li>
                                <li class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Our Talented & Experienced Marketing Agency</li>
                                <li class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Create your own skin to match your brand</li>
                            </ul>
                            <a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i class="uil uil-angle-right-b"></i></a>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="time-line" role="tabpanel" aria-labelledby="timeline">
                    <img src="images/task/widgets2.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div>

                <div class="tab-pane fade" id="payment-management" role="tabpanel" aria-labelledby="paymentmanagement">
                    <img src="images/task/task.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div>

                <div class="tab-pane fade" id="file-integrate" role="tabpanel" aria-labelledby="fileintegrate">
                    <img src="images/task/file.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
