<!-- Categories Widget -->
<div class="widget mb-4 pb-2">
    <h5 class="widget-title">Categories</h5>
    <div class="tagcloud mt-4">
        <ul class="list-unstyled mt-4 mb-0 blog-categories">
            {% for category in site.categories %}
                {% assign cat_name = category[0] %}
                <li>
                    <a href="{{ '/categories/' | append: cat_name | relative_url }}">
                        {{ cat_name | capitalize }}
                    </a>
                    <span class="float-end">{{ category[1].size }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Tags Widget -->
<div class="widget mb-4 pb-2">
    <h5 class="widget-title">Tags</h5>
    <div class="tagcloud mt-4">
        <ul class="list-unstyled mt-4 mb-0 blog-categories">
            {% for tag in site.tags %}
                {% assign tag_name = tag[0] %}
                <li>
                    <a href="{{ '/tags/' | append: tag_name | relative_url }}">
                        {{ tag_name | capitalize }}
                    </a>
                    <span class="float-end">{{ tag[1].size }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


