<section class="section bg-light" id="changes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4">
                    <h4 class="title">Changes in SCSS files <span class="badge badge-pill badge-danger mr-1">v3.2.0</span></h4>
                    <p class="text-muted para-desc mb-0">Some add and changes CSS in SCSS files are here,</p>
                </div>

                <ul class="list-unstyled">
                    <li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_menu.scss</li>
                    <li class="h6"><i class="mdi mdi-arrow-right mr-2"></i>_home.scss</li>
                </ul>
                <p class="text-muted mb-0"><span class="text-danger h6 mb-0">Note:</span> Full folder replace Dark version scss and RTL version scss</p>
            </div>
        </div>
    </div>
</section>