<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0 text-center features feature-clean">
                <div class="icons text-primary text-center mx-auto">
                    <i class="uil uil-phone d-block rounded h3 mb-0"></i>
                </div>
                <div class="content mt-3">
                    <h5 class="fw-bold">Phone</h5>
                    <p class="text-muted">Let's talk to create game-changing experiences for your customers</p>
                    <a href="tel:{{site.phone}}" class="text-primary">{{site.phone}}</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 {mt-4 mt-sm-0 pt-2 pt-sm-0">
            <div class="card border-0 text-center features feature-clean">
                <div class="icons text-primary text-center mx-auto">
                    <i class="uil uil-envelope d-block rounded h3 mb-0"></i>
                </div>
                <div class="content} mt-3">
                    <h5 class="fw-bold">Email</h5>
                    <p class="text-muted"><span class="text-primary fw-bold">BuWiFi</span> will help you deliver personalized customer experiences</p>
                    <a href="mailto:{{site.email}}" class="text-primary">{{site.email}}</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
            <div class="card border-0 text-center features feature-clean">
                <div class="icons text-primary text-center mx-auto">
                    <i class="uil uil-map-marker d-block rounded h3 mb-0"></i>
                </div>
                <div class="content mt-3">
                    <h5 class="fw-bold">Location</h5>
                    <p class="text-muted">{{site.address}}</p>
                    <a href="{{site.jdlocation}}" data-type="iframe" class="video-play-icon text-primary lightbox">View on Google map</a>
                </div>
            </div>
        </div>
    </div>
</div>