<link href="{{ site.favicon | absolute_url }}" rel="shortcut icon" />
        
<!-- <link href="{{ 'css/jquery-ui.min.css' | absolute_url }}" rel="stylesheet" type="text/css" /> -->

<link href="{{ 'css/bootstrap.min.css' | absolute_url }}" rel="stylesheet" type="text/css" />
<link href="{{ 'css/tobii.min.css' | absolute_url }}" rel="stylesheet" type="text/css" />
<link href="{{ 'css/materialdesignicons.min.css' | absolute_url }}" rel="stylesheet" type="text/css" />
<link href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" rel="stylesheet" />
<link href="{{ 'css/tiny-slider.css' | absolute_url }}" rel="stylesheet" />


<link href="{{ 'css/icons.min.css' | absolute_url }}" rel="stylesheet" type="text/css" /> -->

<link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
<link href="{{ 'css/tablesaw.css' | absolute_url }}" rel="stylesheet" type="text/css" />


<!-- <link href="{{ 'vendor/fontawesome-free/css/all.min.css' | absolute_url }}" rel="stylesheet" /> -->
<!-- <link href="{{ 'vendor/conformy/font_awesome/css/all.css' | absolute_url }}" rel="stylesheet"> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

<script src="{{ 'vendor/calculator/vendor/tablesaw.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/vendor/tablesaw-init.js' | absolute_url }}"></script>


<link rel="canonical" href="{{ page.url | absolute_url }}" />

<link href="{{ 'css/myred.css' | absolute_url }}" rel="stylesheet" type="text/css" />


<link href="{{ 'vendor/magnific-popup/magnific-popup.css' | absolute_url }}" rel="stylesheet" type="text/css" />

<link href="{{ 'css/aos.css' | absolute_url }}" rel="stylesheet" type="text/css" />
<link href="{{ 'css/swiper.min.css' | absolute_url }}" rel="stylesheet" type="text/css" />

<link href="{{ 'css/animate.css' | absolute_url }}" rel="stylesheet" />
<link href="{{ 'css/animations-delay.css' | absolute_url }}" rel="stylesheet" />

<link href="{{ 'css/jobapp/jobapp.css' | absolute_url }}" rel="stylesheet" type="text/css" />

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link href="{{ 'css/style.css' | absolute_url }}" rel="stylesheet" type="text/css" id="theme-opt" />
<link href="{{ 'css/colors/default.css' | absolute_url }}" rel="stylesheet" id="color-opt">
