    <!-- Cta Start -->
    <section class="section bg-cta" style="background: url('images/course/slide-corporate-3-2.jpg') center center;"
        id="cta">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title title-dark text-white mb-4">We Bring New Online Courses</h4>
                        <p class="text-light para-desc para-dark mx-auto">Start working with Landrick that can provide
                            everything you need to generate awareness, drive traffic, connect.</p>
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"
                            class="play-btn border border-light mt-4 lightbox">
                            <i data-feather="play" class="fea icon-ex-md text-white title-dark"></i>
                        </a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Cta End -->