<div class="container-fluid mt-100 mt-60">
    <div class="bg-primary rounded shadow py-5" style="background: url('images/seo/cta.png') center center;">
        <div class="container my-md-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title text-white title-dark mb-4">Check your website SEO</h4>
                        <p class="text-white-50 para-desc mb-0 mx-auto">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        <div class="subcribe-form mt-4 pt-2">
                            <form>
                                <div class="mb-0">
                                    <input type="url" id="url" class="border bg-white rounded-lg" style="opacity: 0.85;" required placeholder="http://shreethemes.in">
                                    <button type="submit" class="btn btn-pills btn-primary">Get Started</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div><!--end div-->
</div><!--end container-->