        <!-- CTA START -->
        <section class="section">
            <div class="container">
                <div class="card bg-light rounded border-0 overflow-hidden">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6">
                            <img src="images/coworking/cta.jpg" class="img-fluid" alt="">
                        </div><!--end col-->

                        <div class="col-lg-6 text-center">
                            <div class="card-body section-title p-md-5">
                                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn mt-0 border border-light text-center lightbox">
                                    <i data-feather="play" class="fea icon-ex-md text-dark"></i>
                                </a>
                                <h4 class="title mb-4 mt-4">We Are Creative Dreamers and Co-workers</h4>
                                <p class="text-muted mx-auto para-desc mb-0">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                            </div>
                        </div><!--end col-->
                    </div>
                </div>
            </div><!--end container-->

            <!-- Start Price -->
            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Choose The Pricing Plan</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center">
                    <div class="col-md-3 col-12 mt-4 pt-2">
                        <div class="card pricing-rates best-plan rounded bg-light text-center border-0">
                            <div class="card-body py-5">
                                <img src="images/icon/lightbulb.svg" class="mb-4" height="50" alt="">
                                <h6 class="title text-uppercase mb-4">Member</h6>
                                <div class="d-flex justify-content-center mb-4">
                                    <span class="h4 mb-0 mt-2">$</span>
                                    <span class="price h1 mb-0">19</span>
                                    <span class="h4 align-self-end mb-1">/mo</span>
                                </div>

                                <p class="text-muted">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-4">Buy Now</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-3 col-12 mt-4 pt-2">
                        <div class="card pricing-rates best-plan rounded shadow text-center border-0">
                            <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
                            <div class="card-body py-5">
                                <img src="images/icon/table.svg" class="mb-4" height="50" alt="">
                                <h6 class="title text-uppercase mb-4">Desk</h6>
                                <div class="d-flex justify-content-center mb-4">
                                    <span class="h4 mb-0 mt-2">$</span>
                                    <span class="price h1 mb-0">39</span>
                                    <span class="h4 align-self-end mb-1">/mo</span>
                                </div>
                                
                                <p class="text-muted">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-4">Get Started</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-3 col-12 mt-4 pt-2">
                        <div class="card pricing-rates best-plan rounded bg-light text-center border-0">
                            <div class="card-body py-5">
                                <img src="images/icon/star.svg" class="mb-4" height="50" alt="">
                                <h6 class="title text-uppercase mb-4">Dedicated</h6>
                                <div class="d-flex justify-content-center mb-4">
                                    <span class="h4 mb-0 mt-2">$</span>
                                    <span class="price h1 mb-0">49</span>
                                    <span class="h4 align-self-end mb-1">/mo</span>
                                </div>
                                
                                <p class="text-muted">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-4">Get Started</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-3 col-12 mt-4 pt-2">
                        <div class="card pricing-rates best-plan rounded bg-light text-center border-0">
                            <div class="card-body py-5">
                                <img src="images/icon/start-up.svg" class="mb-4" height="50" alt="">
                                <h6 class="title text-uppercase mb-4">Office</h6>
                                <div class="d-flex justify-content-center mb-4">
                                    <span class="h4 mb-0 mt-2">$</span>
                                    <span class="price h1 mb-0">59</span>
                                    <span class="h4 align-self-end mb-1">/mo</span>
                                </div>

                                <p class="text-muted">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-4">Try It Now</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- End Price -->
        </section><!--end section-->
        <!-- CTA END -->