<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
            <!-- <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2"> -->
                    <h5>BuWiFi Introduction</h5>
                <ul class="list-unstyled mt-4 mb-0">
                    <li class="mt-2"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>Solution Presentation</a></li>
                    <li class="mt-2"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>What is BuWiFi</a></li>
                    <li class="mt-2"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>User Guide</a></li>
                </ul>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5>UpWiFi</h5>
                <ul class="list-unstyled mt-4 mb-0">
                    <li class="mt-2"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>UpWiFi User Guide</a></li>
                </ul>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0 pt-2">
                <h5>Your listings</h5>
                <ul class="list-unstyled mt-4 mb-0">
                    <li class="mt-2"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>Updating your listing</a></li>
                    <li class="mt-2"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>Neighbourhoods</a></li>
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
