<div class="container mt-100 mt-60">
    <div class="row align-items-center">
        <div class="col-md-5">
            <ul class="nav nav-pills nav-justified flex-column rounded" id="pills-tab2" role="tablist">
                <li class="nav-item">
                    <a class="nav-link rounded active" id="pills-cloud-tab" data-bs-toggle="pill"
                        href="#pills-cloud" role="tab" aria-controls="pills-cloud" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5>Management Tools</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing
                                industry or by web designers to occupy the space which will later be filled with
                                'real' content.</p>
                        </div>
                    </a>
                    <!--end nav link-->
                </li>
                <!--end nav item-->

                <li class="nav-item">
                    <a class="nav-link border-top rounded" id="pills-smart-tab" data-bs-toggle="pill"
                        href="#pills-smart" role="tab" aria-controls="pills-smart" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5>Increase Effectiveness</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing
                                industry or by web designers to occupy the space which will later be filled with
                                'real' content.</p>
                        </div>
                    </a>
                    <!--end nav link-->
                </li>
                <!--end nav item-->

                <li class="nav-item">
                    <a class="nav-link border-top rounded" id="pills-apps-tab" data-bs-toggle="pill"
                        href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5>Data Analysis</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing
                                industry or by web designers to occupy the space which will later be filled with
                                'real' content.</p>
                        </div>
                    </a>
                    <!--end nav link-->
                </li>
                <!--end nav item-->
            </ul>
            <!--end nav pills-->
        </div>
        <!--end col-->

        <div class="col-md-7 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
            <div class="saas-feature-shape-right position-relative">
                <div class="tab-content ms-lg-4" id="pills-tabContent2">
                    <div class="tab-pane fade show active" id="pills-cloud" role="tabpanel"
                        aria-labelledby="pills-cloud-tab">
                        <img src="images/digital/1.png" class="img-fluid mx-auto d-block" alt="">
                    </div>
                    <!--end teb pane-->

                    <div class="tab-pane fade" id="pills-smart" role="tabpanel" aria-labelledby="pills-smart-tab">
                        <img src="images/digital/2.png" class="img-fluid mx-auto d-block" alt="">
                    </div>
                    <!--end teb pane-->

                    <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
                        <img src="images/digital/3.png" class="img-fluid mx-auto d-block" alt="">
                    </div>
                    <!--end teb pane-->
                </div>
                <!--end tab content-->
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->