    <!-- Description Start -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="images/single/drone.gif" class="img-fluid" alt="">
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Awesome Features</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Start working with <span
                                class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                            generate awareness, drive traffic, connect.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="camera" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">48mp Camera</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="wifi" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Faster Connection</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="eye" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Easy to Operate</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="video" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Stable Video</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="rss" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Powerful Antenna</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="battery" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Battery Backup</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="cpu" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Advance Technology</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="compass" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Easy Disassembly</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="git-merge" class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">Rebust Structure</h4>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="position-relative">
                        <img src="images/single/bg02.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                        <div class="play-icon">
                            <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn shadow lightbox">
                                <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Description End -->