        <!-- Start Features -->
        <section class="py-4 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="d-flex features pt-4 pb-4">
                            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
                                <i class="uil uil-analytics text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title">Data Analytics</h4>
                                <p class="text-muted para mb-0">Composed in a pseudo-Latin language which.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="d-flex features pt-4 pb-4">
                            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
                                <i class="uil uil-airplay text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title">Web Development</h4>
                                <p class="text-muted para mb-0">Composed in a pseudo-Latin language which.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="d-flex features pt-4 pb-4">
                            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
                                <i class="uil uil-clapper-board text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title">QA & Testing</h4>
                                <p class="text-muted para mb-0">Composed in a pseudo-Latin language which.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="d-flex features pt-4 pb-4">
                            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
                                <i class="uil uil-users-alt text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title">Dedicated Team</h4>
                                <p class="text-muted para mb-0">Composed in a pseudo-Latin language which.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Features -->