        <!-- Feature Start -->
        <section class="section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Sample Features</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="monitor" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Fully Responsive</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="heart" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Browser Compatibility</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="eye" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Retina Ready</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="bold" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Based On Bootstrap 5</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="feather" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Feather Icons</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="code" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Built With SASS</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="user-check" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">W3c Valid Code</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="git-merge" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Flaticon Icons</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="settings" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">Easy to customize</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-12 mt-4 pt-2 text-center">
                        <a href="javascript:void(0)" class="btn btn-primary">See More <i class="uil uil-angle-right align-middle"></i></a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img src="images/illustrator/youtube-media.svg" alt="">
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <h4 class="title mb-4">A better compose with landrick marketing</h4>
                            <p class="text-muted">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Digital Marketing Solutions for Tomorrow</li>
                                <li class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Our Talented & Experienced Marketing Agency</li>
                                <li class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Create your own skin to match your brand</li>
                            </ul>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->


        </section><!--end section-->
        <!-- Feature End -->