<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <a class="logo" href="{{ site.url }}{{ site.baseurl }}">
            <span class="logo-light-mode">
                <img src="{{ site.logo | absolute_url }}" class="l-dark" height="40" alt="">
                <img src="{{ site.logowhite | absolute_url }}" class="l-light" height="40" alt="">
            </span>
            <img src="{{ site.logowhite | absolute_url }}" height="40" class="logo-dark-mode" alt="">
        </a>
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
          <ul class="navigation-menu nav-light nav-right">
            {% assign links = site.data.nav.navigation %}
            {% for item in links %}
              {% assign is_active = false %}
              {% if item.url == page.url %}
                {% assign is_active = true %}
              {% endif %}

              <li{% if item.children %} class="has-submenu parent-parent-menu-item"{% endif %}>
                <a href="{{ item.url | absolute_url }}" class="sub-menu-item {% if is_active %}active{% endif %}">
                  {{ item.title }}
                </a>
                
                {% if item.children %}
                  <span class="menu-arrow"></span>
                  <ul class="submenu">
                    {% for child in item.children %}
                      {% assign is_active = false %}
                      {% if child.url == page.url %}
                        {% assign is_active = true %}
                      {% endif %}
                      
                      <li{% if child.children %} class="has-submenu parent-menu-item"{% endif %}>
                        <a href="{{ child.url | absolute_url }}" class="sub-menu-item {% if is_active %}active{% endif %}">
                          {{ child.title }}
                        </a>
                        
                        {% if child.children %}
                          <span class="submenu-arrow"></span>
                          <ul class="submenu">
                            {% for grandchild in child.children %}
                              {% assign is_active = false %}
                              {% if grandchild.url == page.url %}
                                {% assign is_active = true %}
                              {% endif %}
                              
                              <li{% if grandchild.children %} class="has-submenu child-menu-item"{% endif %}>
                                <a href="{{ grandchild.url | absolute_url }}" class="sub-menu-item {% if is_active %}active{% endif %}">
                                  {{ grandchild.title }}
                                </a>
                                
                                {% if grandchild.children %}
                                  <span class="submenu-arrow"></span>
                                  <ul class="submenu">
                                    {% for greatgrandchild in grandchild.children %}
                                      {% assign is_active = false %}
                                      {% if greatgrandchild.url == page.url %}
                                        {% assign is_active = true %}
                                      {% endif %}
                                      
                                      <li>
                                        <a href="{{ greatgrandchild.url | absolute_url }}" class="sub-menu-item {% if is_active %}active{% endif %}">
                                          {{ greatgrandchild.title }}
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
 
        



    </div>
</header>

