        <!-- Hero Start -->
        <section class="home-slider position-relative">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <div class="bg-home d-flex align-items-center" style="background: url('images/coworking/bg01.jpg') center center;">
                            <div class="bg-overlay"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 text-center">
                                        <div class="title-heading mt-4">
                                            <h6 class="text-light para-dark animated fadeInDownBig animation-delay-1">Private office and Co-working space for <span class="text-success">$19</span></h6>
                                            <h1 class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">Coworking  Space For a Success</h1>
                                            <p class="para-desc text-light para-dark mx-auto animated fadeInUpBig animation-delay-7">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
                                            <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                                <a href="javascript:void(0)" class="btn btn-primary mt-2"><i class="uil uil-envelope"></i> Get Started</a>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end container-->
                        </div><!--end slide-->
                    </div>

                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="bg-home d-flex align-items-center" style="background: url('images/coworking/bg02.jpg') center center;">
                            <div class="bg-overlay"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 text-center">
                                        <div class="title-heading mt-4">
                                            <h6 class="text-light para-dark animated fadeInDownBig animation-delay-1">The Best Coworking in The City</h6>
                                            <h1 class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">Office Space in Vietnam</h1>
                                            <p class="para-desc mx-auto text-light para-dark animated fadeInUpBig animation-delay-7">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
                                            
                                            <div class="text-center subcribe-form mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                                <form>
                                                    <input type="email" id="email" name="email" class="rounded" placeholder="E-mail">
                                                    <button type="submit" class="btn btn-primary">Book Space</button>
                                                </form><!--end form-->
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end container-->
                        </div><!--end slide-->
                    </div>

                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="bg-home d-flex align-items-center" style="background: url('images/coworking/bg03.jpg') center center;">
                            <div class="bg-overlay"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 text-center">
                                        <div class="title-heading mt-4">
                                            <h6 class="text-light para-dark animated fadeInDownBig animation-delay-1">Our Space for You</h6>
                                            <h1 class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">Own Your Office For A Day</h1>
                                            <p class="para-desc mx-auto text-light para-dark animated fadeInUpBig animation-delay-7">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
                                            <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1 lightbox"><i data-feather="video" class="icons"></i></a><span class="fw-bold text-uppercase small text-light title-dark align-middle ms-1">Watch Now</span>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end container-->
                        </div><!--end slide-->
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </section><!--end section-->
        <!-- Hero End -->