<section class="bg-half-170 d-table w-100 it-home"  style="background: url('images/company/mallview.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="title-heading">
                    <h6 class="text-white-50">BuWiFi: WiFi Marketing Automation</h6>
                    <h1 class="fw-bold text-white title-dark">Right 
                        <span class="text-light text-decoration-underline typewrite" data-period="2000" data-type='[ "Message", "Person", "Time", "Location" ]'> 
                        <span class="wrap"></span></span></h1>
                         <h2 class="text-white-50">Understand Your Customers and Engage Better</h2>
                         <p class="para-desc text-white-50">
                            Transform your guest WiFi into a powerful WiFi marketing tool
                         </p>

                    <div class="mt-4 pt-2">
                        <a href="{{ site.url }}{{ site.baseurl }}/contact.html" class="btn btn-primary m-1"><i class="uil uil-comment-alt-lines"></i> Get in touch</a>
                        <!-- <a href="#!" data-type="youtube" data-id="-kW4Alsqkng"
                            class="btn btn-icon btn-pills btn-primary m-1 lightbox"><i data-feather="video"
                            class="icons"></i></a><small
                            class="fw-bold text-uppercase text-light title-dark align-middle ms-1">Watch Now</small> -->
                    </div>

                </div>
            </div>
            <!-- <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="images/company/funnel.svg" alt="">
            </div> -->
            <div class="col-lg-6">
                <img src="images/company/buwifislider.svg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>
