<section class="slider">
    <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="/images/revslider/slide-digital-agency-2.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                        <div class="slide__content">
                            <h2 class="slide__title">BuWiFi: WiFi Marketing Solution</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Our team provides a consultative approach on emerging technology.
                            </p>
                            <a href="#" class="btn btn-primary mr-30"><span>More About Us</span><i class="icon-arrow-right"></i></a>
                            <a href="projects-grid.html" class="btn btn-primary me-2">Our Services</a>
                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary me-2">Get Started</a>
                                <a href="javascript:void(0)" class="btn btn-outline-primary">Documentation</a>
                            </div>


                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="/images/revslider/slide-digital-agency-3.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                        <div class="slide__content">
                            <h2 class="slide__title">Keep Business Safe And Ensure High Availability.</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Our team provides a consultative approach on emerging technology.
                            </p>
                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary me-2">Get Started</a>
                                <a href="javascript:void(0)" class="btn btn-outline-primary">Documentation</a>
                            </div>
                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="/images/company/img-maf-challenge.png" alt="slide img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                        <div class="slide__content">
                            <h2 class="slide__title">Keep Business Safe And Ensure High Availability.</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Our team provides a consultative approach on emerging technology.
                            </p>
                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary me-2">Get Started</a>
                                <a href="javascript:void(0)" class="btn btn-outline-primary">Documentation</a>
                            </div>
        
                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
    </div>
</section>