        <!-- Course list Start -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-4">Get a choice of your course</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="pen-tool" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Designing</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="feather" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Development</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="music" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Music</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="camera" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Photography</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="shield" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Marketing</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="monitor" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">IT & Software</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="bar-chart-2" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Business</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card explore-feature border-0 rounded text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow-lg d-inline-block">
                                    <i data-feather="activity" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Health & Feetness</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-12">
                        <div class="text-center mt-4 pt-2">
                            <a href="javascript:void(0)" class="btn btn-primary">See More Courses <i class="uil uil-arrow-right align-middle"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Course list End -->