<section class="section bg-light" id="loader">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4">
                    <h4 class="title">Loader</h4>
                </div>
                <p class="text-muted">To add <code>loader</code> you need to add the below code after the <code>&lt;body&gt;</code> tag.</p>
                <div class="bg-white p-4 border rounded">
                    <code class="text-danger">
                        &lt;-- loader start --&gt;<br>
                        &lt;div id="preloader""&gt;<br>&nbsp;&nbsp;
                        &lt;div id="status"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        &lt;div class="spinner"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &lt;div class="double-bounce1"&gt;&lt;/div&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &lt;div class="double-bounce2"&gt;&lt;/div&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        &lt;/div&gt;<br>&nbsp;&nbsp;
                        &lt;/div&gt;<br>
                        &lt;/div&gt;<br>
                        &lt;-- loader end --&gt; 
                    </code>
                </div>
            </div>
        </div>
    </div>
</section>