<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">App Features</h4>
                <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-8 mt-4 text-center">
            <img src="images/app/feature.png" class="img-fluid px-lg-0 px-md-5 px-4" alt="">
        </div><!--end col-->

        <div class="col-lg-4 col-md-6">
            <div class="row">
                <div class="col-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary">
                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                            <i data-feather="monitor" class="fea icon-ex-md"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title">Use On Any Device</h4>
                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which more or less pseudo-Latin language corresponds.</p>
                        </div>
                    </div>
                </div><!--end col-->
                
                <div class="col-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary">
                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                            <i data-feather="feather" class="fea icon-ex-md"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title">Feather Icons</h4>
                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which more or less pseudo-Latin language corresponds.</p>
                        </div>
                    </div>
                </div><!--end col-->
                
                <div class="col-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary">
                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                            <i data-feather="eye" class="fea icon-ex-md"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title">Retina Ready</h4>
                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which more or less pseudo-Latin language corresponds.</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end col-->

        <div class="col-lg-4 col-md-6">
            <div class="row">
                <div class="col-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary">
                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                            <i data-feather="user-check" class="fea icon-ex-md"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title">W3c Valid Code</h4>
                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which more or less pseudo-Latin language corresponds.</p>
                        </div>
                    </div>
                </div><!--end col-->
                
                <div class="col-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary">
                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                            <i data-feather="smartphone" class="fea icon-ex-md"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title">Fully Responsive</h4>
                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which more or less pseudo-Latin language corresponds.</p>
                        </div>
                    </div>
                </div><!--end col-->
                
                <div class="col-12 mt-4 pt-2">
                    <div class="d-flex features feature-primary">
                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                            <i data-feather="heart" class="fea icon-ex-md"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title">Browser Compatibility</h4>
                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which more or less pseudo-Latin language corresponds.</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->