        <!-- Start -->
        <section class="section bg-primary py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <h2 class="fw-bold mb-2 text-white"><span class="counter-value" data-target="100">1</span>M</h2>
                            <p class="counter-head small fw-semibold text-white">PEOPLE FACING FOOD INSECURITY</p>
                        </div><!--end counter box-->
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <h2 class="fw-bold mb-2 text-white"><span class="counter-value" data-target="152">2</span>M</h2>
                            <p class="counter-head small fw-semibold text-white">PEOPLE WFP REACH IN 2022</p>
                        </div><!--end counter box-->
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <h2 class="fw-bold mb-2 text-white">$<span class="counter-value" data-target="1500">0</span>M</h2>
                            <p class="counter-head small fw-semibold text-white">WFP'S FUNDING NEEDS IN 2023</p>
                        </div><!--end counter box-->
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <h2 class="fw-bold mb-2 text-white"><span class="counter-value" data-target="29">0</span>M</h2>
                            <p class="counter-head small fw-semibold text-white">MEALS DISTRIBUTED WORLDWIDE</p>
                        </div><!--end counter box-->
                    </div>
                </div>
            </div>
        </section><!--end section-->
        <!-- End -->