<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">{{site.data.master.pricing.title}}</h4>
                <p class="para-desc mx-auto text-muted mb-0">{{site.data.master.pricing.text}}</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                <div class="card-body">
                    <h6 class="title fw-bold text-uppercase text-primary mb-4">Free</h6>
                    <div class="d-flex mb-4">
                        <span class="h4 mb-0 mt-2">$</span>
                        <span class="price h1 mb-0">0</span>
                        <span class="h4 align-self-end mb-1">/mo</span>
                    </div>
                    
                    <ul class="list-unstyled mb-0 ps-0">
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card pricing-rates business-rate shadow bg-white border-0 rounded">
                <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
                <div class="card-body">
                    <h6 class="title fw-bold text-uppercase text-primary mb-4">Starter</h6>
                    <div class="d-flex mb-4">
                        <span class="h4 mb-0 mt-2">$</span>
                        <span class="price h1 mb-0">39</span>
                        <span class="h4 align-self-end mb-1">/mo</span>
                    </div>

                    <ul class="list-unstyled mb-0 ps-0">
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Free Appointments</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Get Started</a>
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                <div class="card-body">
                    <h6 class="title fw-bold text-uppercase text-primary mb-4">Professional</h6>
                    <div class="d-flex mb-4">
                        <span class="h4 mb-0 mt-2">$</span>
                        <span class="price h1 mb-0">59</span>
                        <span class="h4 align-self-end mb-1">/mo</span>
                    </div>
                    
                    <ul class="list-unstyled mb-0 ps-0">
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1 Domain Free</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Enhanced Security</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Try It Now</a>
                </div>
            </div>
        </div><!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                <div class="card-body">
                    <h6 class="title fw-bold text-uppercase text-primary mb-4">Ultimate</h6>
                    <div class="d-flex mb-4">
                        <span class="h4 mb-0 mt-2">$</span>
                        <span class="price h1 mb-0">79</span>
                        <span class="h4 align-self-end mb-1">/mo</span>
                    </div>
                    
                    <ul class="list-unstyled mb-0 ps-0">
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Enhanced Security</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1 Domain Free</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Free Installment</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Started Now</a>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->

