<!-- Price Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Our Hosting Rates</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center">
            <div class="col-12 mt-4 pt-2">
                <div class="text-center">
                    <ul class="nav nav-pills rounded-pill justify-content-center d-inline-block border py-1 px-2" id="pills-tab" role="tablist">
                        <li class="nav-item d-inline-block">
                            <a class="nav-link px-3 rounded-pill active monthly" id="Monthly" data-bs-toggle="pill" href="#Month" role="tab" aria-controls="Month" aria-selected="true">Monthly</a>
                        </li>
                        <li class="nav-item d-inline-block">
                            <a class="nav-link px-3 rounded-pill yearly" id="Yearly" data-bs-toggle="pill" href="#Year" role="tab" aria-controls="Year" aria-selected="false">Yearly <span class="badge rounded-pill bg-success">15% Off </span></a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="Month" role="tabpanel" aria-labelledby="Monthly">    
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing pricing-primary bg-light rounded border-0">
                                    <div class="card-body py-5">
                                        <h6 class="title text-uppercase fw-bold mb-4">Cloud Hosting</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
            
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>2 GB Memory</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn mt-4">Buy Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing pricing-primary starter-plan bg-white shadow rounded border-0">
                                    <div class="card-body py-5">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Dedicated Hosting</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">39</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>4 GB Memory</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn mt-4">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing pricing-primary bg-light rounded border-0">
                                    <div class="card-body py-5">
                                        <h6 class="title text-uppercase fw-bold mb-4">VPS Hosting</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">59</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
            
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>8 GB Memory</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn mt-4">Buy Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing pricing-primary bg-light rounded border-0">
                                    <div class="card-body py-5">
                                        <h6 class="title text-uppercase fw-bold mb-4">Shared Hosting</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">79</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
            
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>16 GB Memory</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn mt-4">Buy Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>

                    <div class="tab-pane fade" id="Year" role="tabpanel" aria-labelledby="Yearly">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="pricing pricing-primary bg-light py-5 p-4 rounded">
                                    <h6 class="title text-uppercase fw-bold mb-4">Cloud Hosting</h6>
                                    <div class="d-flex mb-4">
                                        <span class="h4 mb-0 mt-2">$</span>
                                        <span class="price h1 mb-0">0</span>
                                        <span class="h4 align-self-end mb-1">/mo</span>
                                    </div>
        
                                    <ul class="list-unstyled mb-0 ps-0">
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>2 GB Memory</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                    </ul>
                                    <a href="javascript:void(0)" class="btn mt-4">Buy Now</a>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="pricing pricing-primary starter-plan shadow bg-white py-5 p-4 rounded">
                                    <h6 class="title text-uppercase fw-bold text-primary mb-4">Dedicated Hosting</h6>
                                    <div class="d-flex mb-4">
                                        <span class="h4 mb-0 mt-2">$</span>
                                        <span class="price h1 mb-0">29</span>
                                        <span class="h4 align-self-end mb-1">/mo</span>
                                    </div>
                                    
                                    <ul class="list-unstyled mb-0 ps-0">
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>4 GB Memory</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                    </ul>
                                    <a href="javascript:void(0)" class="btn mt-4">Get Started</a>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="pricing pricing-primary bg-light py-5 p-4 rounded">
                                    <h6 class="title text-uppercase fw-bold mb-4">VPS Hosting</h6>
                                    <div class="d-flex mb-4">
                                        <span class="h4 mb-0 mt-2">$</span>
                                        <span class="price h1 mb-0">39</span>
                                        <span class="h4 align-self-end mb-1">/mo</span>
                                    </div>
        
                                    <ul class="list-unstyled mb-0 ps-0">
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>8 GB Memory</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                    </ul>
                                    <a href="javascript:void(0)" class="btn mt-4">Buy Now</a>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="pricing pricing-primary bg-light py-5 p-4 rounded">
                                    <h6 class="title text-uppercase fw-bold mb-4">Shared Hosting</h6>
                                    <div class="d-flex mb-4">
                                        <span class="h4 mb-0 mt-2">$</span>
                                        <span class="price h1 mb-0">49</span>
                                        <span class="h4 align-self-end mb-1">/mo</span>
                                    </div>
        
                                    <ul class="list-unstyled mb-0 ps-0">
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>16 GB Memory</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 Free Optimization</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 support</li>
                                        <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Optimization</li>
                                    </ul>
                                    <a href="javascript:void(0)" class="btn mt-4">Buy Now</a>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>    
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
        </svg>
    </div>
</div>