<section class="section">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-5 col-12 d-none d-md-block"> -->
            <div class="col-lg-3 col-md-4 col-12 d-none d-md-block">
                <!-- <div class="sticky-bar bg-light rounded shadow"> -->
                <!-- <div class="sticky-bar rounded shadow"> -->
                <div class="rounded shadow p-4 sticky-bar">
                    <ul class="list-unstyled sidebar-nav mb-0 py-2" id="navmenu-nav">
                        <li class="navbar-item p-0"><a href="#typography" class="h6 text-dark navbar-link">Typography Heading</a></li>
                        <li class="navbar-item mt-3 p-0"><a href="#display" class="h6 text-dark navbar-link">Display Heading</a></li>
                        <li class="navbar-item mt-3 p-0"><a href="#bg-colors" class="h6 text-dark navbar-link">Background Colors</a></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-lg-8 col-md-7 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0"> -->
            <div class="col-lg-9 col-md-8 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="row row-cols-1 ms-lg-2">   
                    <!-- Typography Heading Start -->
                    <div class="col" id="typography">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom">
                                <h4 class="title mb-0"> Typography Heading </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;h1&gt; H1. Bootstrap heading &lt;/h1&gt;</code></h6>
                                
                                <h1>H1. Bootstrap heading</h1>
                                <h2>H2. Bootstrap heading</h2>
                                <h3>H3. Bootstrap heading</h3>
                                <h4>H4. Bootstrap heading</h4>
                                <h5>H5. Bootstrap heading</h5>
                                <h6 class="mb-0">H6. Bootstrap heading</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate
                                    enim. Etiam enim tellus, maximus vel augue sed, pharetra hendrerit orci. Vivamus sed massa in nibh
                                    imperdiet mattis quis sed augue. Pellentesque erat metus, vestibulum nec nisl pharetra, laoreet euismod
                                    mauris. Aenean quis nulla lacus. Cras tristique, est non posuere venenatis, lectus diam ultrices turpis,
                                    non blandit lacus purus id ante. Morbi vitae sollicitudin neque. Praesent finibus velit ac augue consequat
                                    sollicitudin. Nunc vitae nunc in ex vehicula finibus rutrum id nisi. Aliquam vel egestas tellus.
                                    Vestibulum quis purus sagittis, fermentum leo vitae, bibendum mauris. Nulla facilisi. Phasellus eu
                                    aliquam leo.
                                </p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <!-- Typography Heading End -->

                    <!-- Display Heading Start -->
                    <div class="col mt-4 pt-2" id="display">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom">
                                <h4 class="title mb-0"> Display Heading </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;p class="display-1"&gt; Display 1 &lt;/p&gt;</code></h6>
                                
                                <p class="display-1">Display 1</p>
                                <p class="display-2">Display 2</p>
                                <p class="display-3">Display 3</p>
                                <p class="display-4 mb-0">Display 4</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <!-- Display Button End -->

                    <!-- BG Color Start -->
                    <div class="col mt-4 pt-2" id="bg-colors">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom">
                                <h4 class="title mb-0"> Background Color </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-2 pb-2">Ex. <code class="text-danger">&lt;div class="bg-primary"&gt; Landrick Saas & Software Template &lt;/div&gt;</code></h6>
                                
                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-primary">
                                    <p class="avatar avatar-small bg-primary rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-secondary">
                                    <p class="avatar avatar-small bg-secondary rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-success">
                                    <p class="avatar avatar-small bg-success rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-danger">
                                    <p class="avatar avatar-small bg-danger rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-warning">
                                    <p class="avatar avatar-small bg-warning rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-info">
                                    <p class="avatar avatar-small bg-info rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-light">
                                    <p class="avatar avatar-small bg-light rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-white">
                                    <p class="avatar avatar-small bg-white border rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-dark">
                                    <p class="avatar avatar-small bg-dark rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-muted">
                                    <p class="avatar avatar-small bg-muted rounded mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <!-- BG Color End -->

                    <!-- BG Color Start -->
                    <div class="col mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom">
                                <h4 class="title mb-0"> Soft Background Color </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-2 pb-2">Ex. <code class="text-danger">&lt;div class="bg-soft-primary"&gt; Landrick Saas & Software Template &lt;/div&gt;</code></h6>
                                
                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-primary">
                                    <p class="avatar avatar-small bg-soft-primary rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-secondary">
                                    <p class="avatar avatar-small bg-soft-secondary rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-success">
                                    <p class="avatar avatar-small bg-soft-success rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-danger">
                                    <p class="avatar avatar-small bg-soft-danger rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-warning">
                                    <p class="avatar avatar-small bg-soft-warning rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-info">
                                    <p class="avatar avatar-small bg-soft-info rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-light">
                                    <p class="avatar avatar-small bg-soft-light rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-white">
                                    <p class="avatar avatar-small bg-soft-white border rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-dark">
                                    <p class="avatar avatar-small bg-soft-dark rounded mb-0"></p>
                                </div>

                                <div class="d-inline-block me-1 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title=".bg-soft-muted">
                                    <p class="avatar avatar-small bg-soft-muted rounded mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <!-- BG Color End -->

                    
                </div><!--end row-->
            </div>
        </div>                
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
