<script src="{{ 'js/bootstrap.bundle.min.js' | absolute_url }}"></script>
<script src="{{ 'js/gumshoe.polyfills.min.js' | absolute_url }}"></script>
<script src="{{ 'js/tiny-slider.js' | absolute_url }}"></script>
<script src="{{ 'js/tobii.min.js' | absolute_url }}"></script>
<script src="{{ 'js/feather.min.js' | absolute_url }}"></script>
<script src="{{ 'js/switcher.js' | absolute_url }}"></script>
<script src="{{ 'js/plugins.init.js' | absolute_url }}"></script>
<script src="{{ 'js/parallax.js' | absolute_url }}"></script>
<script src="{{ 'js/app.js' | absolute_url }}"></script>

<script src="{{ 'js/contactajax.js' | absolute_url }}"></script>
<script src="{{ 'js/jobapp/jobapp.js' | absolute_url }}"></script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script src="{{ 'vendor/scrollspy/scrollspy.min.js' | absolute_url }}"></script>

<script src="{{ 'vendor/calculator/vendor/jquery.waypoints.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/menu.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/vendor/jquery.mask.min.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/mobile-menu.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/sidebar.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/vendor/device.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/calculator.js' | absolute_url }}"></script>
<script src="{{ 'vendor/calculator/validation.js' | absolute_url }}"></script>



<!-- <script src="{{ 'vendor/calculator/vendor/jquery-2.2.4.min.js' | absolute_url }}"></script> -->
<!-- <script src="{{ 'vendor/calculator/vendor/jquery-ui.min.js' | absolute_url }}"></script> -->
<!-- <script src="{{ 'css/jquery-ui.min.js' | absolute_url }}"></script> -->
<!-- <script src="{{ 'vendor/jquery.easing/jquery.easing.min.js' | absolute_url }}"></script> -->

