<div class="widget">
    <form role="search" method="get" action="https://www.google.com/search" target="_blank" value="buwifi.com">
        <div class="input-group mb-3 border rounded">
            <input type="text" id="search-google" name="sitesearch" class="form-control border-0" maxlength="255" placeholder="Search via Google">
            <button type="submit" class="input-group-text bg-transparent border-0" id="searchsubmit"><i class="uil uil-search"></i></button>
        </div>
    </form>
</div>
