        <!-- Start -->
        <section class="section">
            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-md-3 mt-4 pt-2">

                        <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">


                            <li class="nav-item">
                                <a class="nav-link rounded active" id="proposal" data-bs-toggle="pill" href="#developing" role="tab" aria-controls="developing" aria-selected="false">
                                    <div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
                                        <h6 class="mb-0"><i class="uil uil-postcard me-2 h5"></i> 1. CONNECT</h6>
                                        <i class="uil uil-angle-right-b"></i>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="contract" data-bs-toggle="pill" href="#data-analise" role="tab" aria-controls="data-analise" aria-selected="false">
                                    <div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
                                        <h6 class="mb-0"><i class="uil uil-notes me-2 h5"></i> 2. KNOW</h6>
                                        <i class="uil uil-angle-right-b"></i>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="crm" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
                                    <div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
                                        <h6 class="mb-0"><i class="uil uil-folder-check me-2 h5"></i> 3. ENGAGE</h6>
                                        <i class="uil uil-angle-right-b"></i>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="timetracking" data-bs-toggle="pill" href="#time-track" role="tab" aria-controls="time-track" aria-selected="false">
                                    <div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
                                        <h6 class="mb-0"><i class="uil uil-clock me-2 h5"></i> 4. INTEGRATE</h6>
                                        <i class="uil uil-angle-right-b"></i>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="invoice" data-bs-toggle="pill" href="#invoices" role="tab" aria-controls="invoices" aria-selected="false">
                                    <div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
                                        <h6 class="mb-0"><i class="uil uil-invoice me-2 h5"></i> Invoices</h6>
                                        <i class="uil uil-angle-right-b"></i>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="tasktracking" data-bs-toggle="pill" href="#task-track" role="tab" aria-controls="task-track" aria-selected="false">
                                    <div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
                                        <h6 class="mb-0"><i class="uil uil-exchange-alt me-2 h5"></i> Task Tracking</h6>
                                        <i class="uil uil-angle-right-b"></i>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                        </ul><!--end nav pills-->
                    </div><!--end col-->

                    <div class="col-md-9 col-12 mt-4 pt-2">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="developing" role="tabpanel" aria-labelledby="proposal">
                                <h4 class="mb-4">Connect with visitors the moment they enter the venue</h4>
                                <p class="text-muted mb-0">
                                    Paige connects to the free WiFi on her mobile phone. BuWiFi identifies and moves Paige from an anonymous visitor to a connected visitor.
                                    BuWiFi will automatically identify Paige every time she walks into the venue in the future.
                                </p>

                                <div class="mt-4">
                                    <a href="javascript:void(0)" class="text-primary h6">Explore Proposals <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>

                                <div class="mt-4">
                                    <img src="images/freelancer/proposals.png" class="img-fluid" alt="">
                                </div>
                            </div><!--end teb pane-->
                            
                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="data-analise" role="tabpanel" aria-labelledby="contract">
                                <h4 class="mb-4">Know more about the visitors as they move around the venue</h4>
                                <p class="text-muted mb-0">
                                    Once Paige is connected, BuWiFi starts gathering insights based on Paige’s past and present location behavior at the venue.
                                    The data gathered from Paige’s visits leads to visitor at location personas and Paige is recognized as a “frequent shopper” based on historic venue behavior patterns.
                                </p>

                                <div class="mt-4">
                                    <a href="javascript:void(0)" class="text-primary h6">Explore Contracts <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>

                                <div class="mt-4">
                                    <img src="images/freelancer/contract.png" class="img-fluid" alt="">
                                </div>
                            </div><!--end teb pane-->

                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="security" role="tabpanel" aria-labelledby="crm">
                                <h4 class="mb-4">Stay Organized</h4>
                                <p class="text-muted mb-0">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody.</p>

                                <div class="mt-4">
                                    <a href="javascript:void(0)" class="text-primary h6">Explore Projects <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>

                                <div class="mt-4">
                                    <img src="images/freelancer/crm.png" class="img-fluid" alt="">
                                </div>
                            </div><!--end teb pane-->
                            
                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="time-track" role="tabpanel" aria-labelledby="timetracking">
                                <h4 class="mb-4">Keep It Simple</h4>
                                <p class="text-muted mb-0">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody.</p>

                                <div class="mt-4">
                                    <a href="javascript:void(0)" class="text-primary h6">Explore Time Tracking <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>

                                <div class="mt-4">
                                    <img src="images/freelancer/time.png" class="img-fluid" alt="">
                                </div>
                            </div><!--end teb pane-->
                            
                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="invoices" role="tabpanel" aria-labelledby="invoice">
                                <h4 class="mb-4">Get Paid Faster</h4>
                                <p class="text-muted mb-0">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody.</p>

                                <div class="mt-4">
                                    <a href="javascript:void(0)" class="text-primary h6">Explore Invoice <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>

                                <div class="mt-4">
                                    <img src="images/freelancer/invoice.png" class="img-fluid" alt="">
                                </div>
                            </div><!--end teb pane-->
                            
                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="task-track" role="tabpanel" aria-labelledby="tasktracking">
                                <h4 class="mb-4">Be More Effective</h4>
                                <p class="text-muted mb-0">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody.</p>

                                <div class="mt-4">
                                    <a href="javascript:void(0)" class="text-primary h6">Explore Task Tracking <i class="uil uil-angle-right-b align-middle"></i></a>
                                </div>

                                <div class="mt-4">
                                    <img src="images/freelancer/task.png" class="img-fluid" alt="">
                                </div>
                            </div><!--end teb pane-->
                        </div><!--end tab content-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->