        <!-- Communiaction Priority Start -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <span class="badge rounded-pill bg-success" data-aos="fade-up" data-aos-duration="1000">Features</span>
                            <h4 class="title my-4" data-aos="fade-up" data-aos-duration="1400">Communication Resources</h4>
                            <p class="text-muted para-desc mx-auto mb-0" data-aos="fade-up" data-aos-duration="1800">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories text-center rounded border-0" data-aos="fade-up" data-aos-duration="1000">
                            <div class="card-body">
                                <img src="images/icon/chat.svg" class="avatar avatar-small mb-3" alt="">
                                <h5><a href="javascript:void(0)" class="text-dark">Live Chat</a></h5>
                                <p class="text-muted mb-0 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories text-center rounded border-0" data-aos="fade-up" data-aos-duration="1300">
                            <div class="card-body">
                                <img src="images/icon/customer-service.svg" class="avatar avatar-small mb-3" alt="">
                                <h5><a href="javascript:void(0)" class="text-dark">Social</a></h5>
                                <p class="text-muted mb-0 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories text-center rounded border-0" data-aos="fade-up" data-aos-duration="1600">
                            <div class="card-body">
                                <img src="images/icon/user.svg" class="avatar avatar-small mb-3" alt="">
                                <h5><a href="javascript:void(0)" class="text-dark">Support Portal</a></h5>
                                <p class="text-muted mb-0 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories text-center rounded border-0" data-aos="fade-up" data-aos-duration="1900">
                            <div class="card-body">
                                <img src="images/icon/call.svg" class="avatar avatar-small mb-3" alt="">
                                <h5><a href="javascript:void(0)" class="text-dark">Phone Supports</a></h5>
                                <p class="text-muted mb-0 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories text-center rounded border-0" data-aos="fade-up" data-aos-duration="2200">
                            <div class="card-body">
                                <img src="images/icon/writing.svg" class="avatar avatar-small mb-3" alt="">
                                <h5><a href="javascript:void(0)" class="text-dark">Tickets</a></h5>
                                <p class="text-muted mb-0 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories text-center rounded border-0" data-aos="fade-up" data-aos-duration="2500">
                            <div class="card-body">
                                <img src="images/icon/mail.svg" class="avatar avatar-small mb-3" alt="">
                                <h5><a href="javascript:void(0)" class="text-dark">FAQ's</a></h5>
                                <p class="text-muted mb-0 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">Need to CRM Support</h4>
                            <p class="text-muted para-desc mb-0 mx-auto" data-aos="fade-up" data-aos-duration="1400">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12 mt-4 pt-2 text-center">
                        <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded" data-aos="fade-up" data-aos-duration="1200" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded active" id="community-tab" data-bs-toggle="pill" href="#pills-community" role="tab" aria-controls="pills-community" aria-selected="false">
                                    <div class="text-center py-2">
                                        <h6 class="mb-0">Community</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item">
                                <a class="nav-link rounded" id="selfservice-tab" data-bs-toggle="pill" href="#pills-self" role="tab" aria-controls="pills-self" aria-selected="false">
                                    <div class="text-center py-2">
                                        <h6 class="mb-0">Self Service</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                            
                            <li class="nav-item">
                                <a class="nav-link rounded" id="teamwork-tab" data-bs-toggle="pill" href="#pills-teamwork" role="tab" aria-controls="pills-teamwork" aria-selected="false">
                                    <div class="text-center py-2">
                                        <h6 class="mb-0">Teamwork</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                        </ul><!--end nav pills-->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 mt-4 pt-2">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-community" role="tabpanel" aria-labelledby="community-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <img src="images/saas/classic04.png" data-aos="fade-up" data-aos-duration="1400" class="img-fluid mx-auto d-block shadow rounded" alt="">
                                    </div><!--end col-->

                                    <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                        <div class="section-title ms-md-4">
                                            <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">User Community</h4>
                                            <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">CRM systems start by collecting a customer's website, email, telephone, social media data, and more, across multiple sources and channels. It may also automatically pull in other information, such as recent news about the company's activity, and it can store personal details, such as a client's personal preferences on communications.</p>
                                            <div class="mt-4" data-aos="fade-up" data-aos-duration="1800">
                                                <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded me-3">Read More <i class="uil uil-angle-right-b"></i></a>
                                                <a href="javascript:void(0)" class="text-warning p-1 px-2 shadow rounded">Blogs</a>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end teb pane-->
                            
                            <div class="tab-pane fade" id="pills-self" role="tabpanel" aria-labelledby="selfservice-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                        <div class="section-title me-md-4">
                                            <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">Self-service Portal</h4>
                                            <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">CRM systems start by collecting a customer's website, email, telephone, social media data, and more, across multiple sources and channels. It may also automatically pull in other information, such as recent news about the company's activity, and it can store personal details, such as a client's personal preferences on communications.</p>
                                            <div class="mt-4" data-aos="fade-up" data-aos-duration="1800">
                                                <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded me-3">Read More <i class="uil uil-angle-right-b"></i></a>
                                                <a href="javascript:void(0)" class="text-warning p-1 px-2 shadow rounded">Blogs</a>
                                            </div>
                                        </div>
                                    </div>  <!--end col--> 

                                    <div class="col-md-6 order-1 order-md-2">
                                        <img src="images/saas/classic02.png" data-aos="fade-up" data-aos-duration="1400" class="img-fluid mx-auto d-block shadow rounded" alt="">
                                    </div><!--end col-->  
                                </div>    <!--end row-->                       
                            </div><!--end teb pane-->

                            <div class="tab-pane fade" id="pills-teamwork" role="tabpanel" aria-labelledby="teamwork-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <img src="images/saas/classic03.png" data-aos="fade-up" data-aos-duration="1400" class="img-fluid mx-auto d-block shadow rounded" alt="">
                                    </div><!--end col-->

                                    <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                        <div class="section-title ms-md-4">
                                            <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">Proper Teamwork</h4>
                                            <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">CRM systems start by collecting a customer's website, email, telephone, social media data, and more, across multiple sources and channels. It may also automatically pull in other information, such as recent news about the company's activity, and it can store personal details, such as a client's personal preferences on communications.</p>
                                            <div class="mt-4" data-aos="fade-up" data-aos-duration="1800">
                                                <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded me-3">Read More <i class="uil uil-angle-right-b"></i></a>
                                                <a href="javascript:void(0)" class="text-warning p-1 px-2 shadow rounded">Blogs</a>
                                            </div>
                                        </div>
                                    </div>  <!--end col-->  
                                </div>    <!--end row-->                        
                            </div><!--end teb pane-->
                        </div><!--end tab content-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Communiaction Priority End -->