<section class="section">
    <div class="container mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title">
                    <h4 class="title mb-4">
                        Start working with us to drive traffic and engage with customers
                    </h4>
                    <p class="text-muted para-desc">
                        BuWiFi is <span class="text-primary fw-bold">digitizing</span> physical spaces with In-store Analytics and Mobile Customer Engagement 
                    </p>
                    
                    <ul class="newcustom_list text-muted mt-4 mb-0">
                        <li class="mb-1">BuWiFi has more than 500K opt-in users</li>
                        <li class="mb-1">BuWiFi manages more than 500 Access Points</li>
                        <li class="mb-1">We have delivered more than 50K coupons</li>
                        <li class="mb-1">BuWiFi runs over 200 stores</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row ms-lg-5" id="counter">
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                <div class="card counter-box border-0 bg-light bg-gradient shadow text-center rounded">
                                    <div class="card-body py-5">
                                        <h2 class="mb-0"><span class="counter-value" data-target="500">0</span>K+</h2>
                                        <h5 class="counter-head mb-0">Opt-in Users</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4 pt-2">
                                <div
                                    class="card counter-box border-0 bg-primary bg-gradient shadow text-center rounded">
                                    <div class="card-body py-5">
                                        <h2 class="text-light title-dark mb-0"><span class="counter-value" data-target="50">0</span>K+</h2>
                                        <h5 class="counter-head mb-0 title-dark text-light">Sweepstakes Delivered</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="row pt-lg-4 mt-lg-4">
                            <div class="col-12 mt-4 pt-2">
                                <div class="card counter-box border-0 bg-success bg-gradient shadow text-center rounded">
                                    <div class="card-body py-5">
                                        <h2 class="text-light title-dark mb-0"><span class="counter-value" data-target="500">0</span>+</h2>
                                        <h5 class="counter-head mb-0 title-dark text-light">Access Points</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4 pt-2">
                                <div class="card counter-box border-0 bg-light bg-gradient shadow text-center rounded">
                                    <div class="card-body py-5">
                                        <h2 class="mb-0"><span class="counter-value" data-target="200">0</span>+</h2>
                                        <h5 class="counter-head mb-0">Stores</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>