<section class="section bg-light" id="support">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4">
                    <h4 class="title">Supports</h4>
                </div>
                <p class="text-muted">Once again thank you for your purchase. I'll be happy to answer the the questions you have related to the theme. In case if you have any suggestion or feature, request please feel free to contact me, I'll try to implement it and will release as part of future updates.</p>
                <p class="text-muted">If you have any questions that are beyond the scope of this documentation, please feel free to email or contact us via my page.</p>
                <p class="text-muted">Stay awesome</p>
                <h6 class="text-primary">- Shreethemes</h6>
                <h6 class="text-success mb-0">- <b>Support Email:</b> support@shreethemes.in</h6>
            </div>
        </div>
    </div>
</section>