<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title mb-4">Discover what makes <span class="text-primary">Task manager</span> great.</h4>
                <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row align-items-center">
        <div class="col-md-5 mt-4 pt-2">
            <ul class="nav nav-pills bg-white nav-justified flex-column mb-0" id="pills-tab" role="tablist">
                <li class="nav-item bg-light rounded-md">
                    <a class="nav-link rounded-md active" id="dashboard" data-bs-toggle="pill" href="#dash-board" role="tab" aria-controls="dash-board" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">Management Dashboard</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing industry or by web designers.</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="timeline" data-bs-toggle="pill" href="#time-line" role="tab" aria-controls="time-line" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">Management Timeline</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing industry or by web designers.</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="paymentmanagement" data-bs-toggle="pill" href="#payment-management" role="tab" aria-controls="payment-management" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">Payment Management</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing industry or by web designers.</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item bg-light rounded-md mt-4">
                    <a class="nav-link rounded-md" id="fileintegrate" data-bs-toggle="pill" href="#file-integrate" role="tab" aria-controls="file-integrate" aria-selected="false">
                        <div class="p-3 text-start">
                            <h5 class="title">File Integrate</h5>
                            <p class="text-muted tab-para mb-0">Dummy text is text that is used in the publishing industry or by web designers.</p>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
            </ul><!--end nav pills-->
        </div><!--end col-->

        <div class="col-md-7 col-12 mt-4 pt-2">
            <div class="tab-content ms-lg-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="dash-board" role="tabpanel" aria-labelledby="dashboard">
                    <img src="images/task/apps.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->
                
                <div class="tab-pane fade" id="time-line" role="tabpanel" aria-labelledby="timeline">
                    <img src="images/task/widgets2.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->

                <div class="tab-pane fade" id="payment-management" role="tabpanel" aria-labelledby="paymentmanagement">
                    <img src="images/task/task.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->

                <div class="tab-pane fade" id="file-integrate" role="tabpanel" aria-labelledby="fileintegrate">
                    <img src="images/task/file.png" class="img-fluid mx-auto rounded-md shadow-lg d-block" alt="">
                </div><!--end teb pane-->
            </div><!--end tab content-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->