<div class="px-3 mt-4">
    <h3 class="text-color-quaternary text-capitalize font-weight-bold text-5 m-0">Tags</h3>
    <ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
        {% assign tags = site.posts | all_tags %}
        {% for tag in tags %}
        {% assign tag_slug = tag['name'] | slugify: "raw" %}
        <li class="nav-item">
            <a class="nav-link bg-transparent border-0"
                href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }} rel="category tag">
                #{{ tag['name'] }} ({{ tag['count'] }})
            </a>
        </li>
        {% endfor %}
    </ul>
</div>




<!-- TAG CLOUDS -->
<div class="widget mb-4 pb-2">
    <h5 class="widget-title">Tags Cloud</h5>
    <div class="tagcloud mt-4">
        <a href="jvascript:void(0)" class="rounded">Business</a>
        <a href="jvascript:void(0)" class="rounded">Finance</a>
        <a href="jvascript:void(0)" class="rounded">Marketing</a>
        <a href="jvascript:void(0)" class="rounded">Fashion</a>
        <a href="jvascript:void(0)" class="rounded">Bride</a>
        <a href="jvascript:void(0)" class="rounded">Lifestyle</a>
        <a href="jvascript:void(0)" class="rounded">Travel</a>
        <a href="jvascript:void(0)" class="rounded">Beauty</a>
        <a href="jvascript:void(0)" class="rounded">Video</a>
        <a href="jvascript:void(0)" class="rounded">Audio</a>
    </div>
</div>
<!-- TAG CLOUDS -->