<section class="py-3 bg-primary">
    <div class="container mt-lg-0 mt-2">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="text-center">
                    <h5 class="text-white">Let us know if you have any questions</h5>
                    <h6 class="text-white-50 mb-0">Note: Please rate this item if you like it ! 
                        <a href="{{ site.url }}{{ site.baseurl }}/contact.html" target="_blank" class="text-warning">CONTACK US<i class="mdi mdi-arrow-right"></i></a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>