<section class="section bg-cta" data-jarallax='{"speed": 0.5}' style="background: url('{{ site.data.master.transition1.image }}') center center;" id="cta">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2 class="title title-dark text-white mb-4">{{ site.data.master.transition1.header }}</h2>
                    <p class="text-light para-dark para-desc mx-auto">
                        {{ site.data.master.transition1.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
