        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Key Features</h4>
                            <p class="para-desc text-muted mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="card border-0 features feature-clean course-feature p-4 overflow-hidden shadow">
                            <div class="icons text-primary text-center">
                                <i class="uil uil-layer-group d-block rounded h3 mb-0"></i>
                            </div>
                            <div class="card-body p-0 mt-4">                                            
                                <a href="javascript:void(0)" class="title h5 text-dark">Modular</a>
                                <p class="text-muted mt-2">Composed in a pseudo-Latin language which more or less corresponds.</p>
                                <a href="javascript:void(0)" class="text-primary read-more">Read More <i class="uil uil-angle-right-b"></i></a>
                                <i class="uil uil-layer-group text-primary full-img"></i>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="card border-0 features feature-clean course-feature p-4 overflow-hidden shadow">
                            <div class="icons text-primary text-center">
                                <i class="uil uil-airplay d-block rounded h3 mb-0"></i>
                            </div>
                            <div class="card-body p-0 mt-4">                                            
                                <a href="javascript:void(0)" class="title h5 text-dark">Responsive</a>
                                <p class="text-muted mt-2">Composed in a pseudo-Latin language which more or less corresponds.</p>
                                <a href="javascript:void(0)" class="text-primary read-more">Read More <i class="uil uil-angle-right-b"></i></a>
                                <i class="uil uil-airplay text-primary full-img"></i>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="card border-0 features feature-clean course-feature p-4 overflow-hidden shadow">
                            <div class="icons text-primary text-center">
                                <i class="uil uil-focus-target d-block rounded h3 mb-0"></i>
                            </div>
                            <div class="card-body p-0 mt-4">                                            
                                <a href="javascript:void(0)" class="title h5 text-dark">Customizable</a>
                                <p class="text-muted mt-2">Composed in a pseudo-Latin language which more or less corresponds.</p>
                                <a href="javascript:void(0)" class="text-primary read-more">Read More <i class="uil uil-angle-right-b"></i></a>
                                <i class="uil uil-focus-target text-primary full-img"></i>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="card border-0 features feature-clean course-feature p-4 overflow-hidden shadow">
                            <div class="icons text-primary text-center">
                                <i class="uil uil-expand-arrows d-block rounded h3 mb-0"></i>
                            </div>
                            <div class="card-body p-0 mt-4">                                            
                                <a href="javascript:void(0)" class="title h5 text-dark">Scalable</a>
                                <p class="text-muted mt-2">Composed in a pseudo-Latin language which more or less corresponds.</p>
                                <a href="javascript:void(0)" class="text-primary read-more">Read More <i class="uil uil-angle-right-b"></i></a>
                                <i class="uil uil-expand-arrows text-primary full-img"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->