        <!-- Start Services -->
        <section class="section">
            <div class="container pb-lg-4 mb-md-5 mb-4">
                <div class="row align-items-center mb-4">
                    <div class="col-lg-9 col-md-8 text-sm-start">
                        <div class="section-title">
                            <h4 class="title mb-4">Cloud Hosting Services</h4>
                            <p class="text-muted para-desc mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 mt-sm-0 text-sm-end pt-2 pt-sm-0">
                        <a href="javascript:void(0)" class="btn btn-outline-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <i class="uil uil-browser h1 text-primary"></i>
                            </div>

                            <div class="content mt-4">
                                <h5>Domain Name</h5>
                                <p class="text-muted">Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <i class="uil uil-cloud-computing h1 text-primary"></i>
                            </div>

                            <div class="content mt-4">
                                <h5>Cloud Hosting</h5>
                                <p class="text-muted">Allegedly, a Latin scholar established the origin of the established text by compiling unusual word.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <i class="uil uil-server h1 text-primary"></i>
                            </div>

                            <div class="content mt-4">
                                <h5>Shared Hosting</h5>
                                <p class="text-muted">It seems that only fragments of the original text remain in only fragments the Lorem Ipsum texts used today.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <i class="uil uil-server-network h1 text-primary"></i>
                            </div>

                            <div class="content mt-4">
                                <h5>VPS Hosting</h5>
                                <p class="text-muted">Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <i class="uil uil-database-alt h1 text-primary"></i>
                            </div>

                            <div class="content mt-4">
                                <h5>Reseller Hosting</h5>
                                <p class="text-muted">Allegedly, a Latin scholar established the origin of the established text by compiling unusual word.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <i class="uil uil-code-branch h1 text-primary"></i>
                            </div>

                            <div class="content mt-4">
                                <h5>Web Hosting</h5>
                                <p class="text-muted">It seems that only fragments of the original text remain in only fragments the Lorem Ipsum texts used today.</p>
                                <a href="javascript:void(0)" class="text-primary">Read more <i class="uil uil-angle-right-b"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->