---
layout: services
title: Blog
background: images/blurcustomer.jpg
slogan: Learn more about how to leverage your WiFi network
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="row">
          {% for post in paginator.posts %}
            {% include post-card.html post=post %}
          {% endfor %}
        </div>

        <!-- Pagination -->
        {% include pagination.html %}
      </div>

      <!-- Sidebar -->
      {% include sidebar.html %}
    </div>
  </div>
</section>

