---
layout: services
title: BUWIFI BLOG
background: images/blurcustomer.jpg
slogan: Learn more about how to leverage your WiFi network
paginate: true
---
<section class="section">
    <div class="container">
        <div class="row">
            <!-- BLog Start -->
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    {% include blogposts.html %}
                    {% include pagination.html %}
                </div>
            </div>
            {% include sidebar.html %}
        </div>
    </div>
</section>

