---
layout: services
slogan: "Posts in {{ page.name }}"
---
<section class="section">
  <div class="container">
    <div class="row">
      <!-- Category Posts -->
      <div class="col-lg-8 col-md-6">
        <div class="row">
          {% for post in page.posts %}
            {% include post-card.html post=post %}
          {% endfor %}
        </div>

        {% include pagination_cat.html %}
      </div>

      <!-- Sidebar -->
      {% include sidebar.html %}
    </div>
  </div>
</section>
